p{
  border: 5px solid lightgrey;
  border-radius: 15px;
  padding: 5px;
  background-color: lightblue;
  display: block;
  flex: auto;
  padding: 40px;
  color: white;
}
body{
background-color: lightgray
}
hr{
  color: whitesmoke;
}

img{
  border: 5px solid white ;
  size-adjust: -10px;
}